@font-face {
    font-family: 'TitleFont';
    /* Nome del font */
    src: url('font/geoform/Geoform-Bold.otf');
    /* Percorso assoluto */
    font-weight: normal;
    /* Peso del font */
    font-style: normal;
    /* Stile del font */
}

@font-face {
    font-family: 'BodyFont';
    /* Nome del font */
    src: url('font/geoform/Geoform-Light.otf') format('truetype');
    /* Percorso assoluto */
    font-weight: normal;
    /* Peso del font */
    font-style: normal;
    /* Stile del font */
}

:root {
    --primary-color: #ffffff;
    --secondary-color: hsl(240, 5%, 64.9%);
    --accent-color: #ff1900;
    --background-color: #0f0f0f;
    --background-dark: #0b0b0b;
    --text-color: #333333; /* Colore del testo */
    --link-color: #2980b9; /* Colore dei link */
    --button-dark-color: #2b2b2b;
    --button-dark-text: #ffffff;
    --button-dark-hover-color: rgb(56, 56, 56);
    --button-light-color: #d8d7d7;
    --button-light-text: #2b2b2b;
    --button-light-hover-color: rgb(172, 172, 172);
    --border-color: #dcdcdc; /* Colore dei bordi */
    --highlight-color: #9b59b6; /* Colore di evidenza */
    --error-color: #e74c3c; /* Colore per errori */
    --success-color: #27ae60; /* Colore per successi */
    --warning-color: #f39c12; /* Colore per avvisi */
    --neutral-light: #ecf0f1; /* Colore neutro chiaro */
    --neutral-dark: #34495e; /* Colore neutro scuro */
    --overlay-color: rgba(0, 0, 0, 0.5); /* Overlay trasparente */
    --white: #ffffff; /* Bianco */
    --black: #000000; /* Nero */
    --font-family: 'BodyFont', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-dark);
    color: var(--text-color);
}

input.textfield {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 3rem;
    padding: 0 2rem;
    background: var(--button-dark-color);
    background-size: 400%;
    color: #fff;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
  }
  
input.textfield:focus {
    outline: var(--accent-color) solid 1px;
}

.button-dark {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    background: var(--button-dark-color);
    background-size: 400%;
    color: #fff;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
}

.button-dark .button_text {
    color: var(--button-dark-text);
}

.button-dark:hover::before {
  transform: scaleX(1);
}

.button-dark span {
  position: relative;
  color: var(--button-textk);
  z-index: 1;
}

.button-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    var(--button-dark-hover-color) 10.8%,
    var(--button-dark-color) 94.3%

  );
  transition: all 0.475s;
}

.button-light {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    background: var(--button-light-color);
    background-size: 400%;
    color: #fff;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
}

.button-light .button_text {
    color: var(--button-light-text);
}

.button-light:hover::before {
  transform: scaleX(1);
}

.button-light span {
  position: relative;
  color: var(--button-textk);
  z-index: 1;
}

.button-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    var(--button-light-hover-color) 10.8%,
    var(--button-light-color) 94.3%

  );
  transition: all 0.475s;
}

.container {
    display: inline-grid;
    width: 100%;
    background: linear-gradient(to top, black 90%, transparent 100%);
}

.background-slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.background-image.visible {
    opacity: 1;
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
    color: var(--primary-color);
    width: 100%;
    margin: auto;
}

.card-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
    color: var(--primary-color);
    width: 100%;
    margin: auto;
}

.card-container-description {
    flex: 1;
    width: 30%;
    margin-inline: 10%;
    text-align: left;
}

.card-container-description .title {
    font-family: 'TitleFont', sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin: 0px;
}

.card-container-image {
    flex: 1;
    width: 50%;
    text-align: right;
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-container-1 .card-container-image {
    transform: translateX(-100%); /* Posizione iniziale a sinistra */
}

.card-container-2 .card-container-image {
    transform: translateX(100%); /* Posizione iniziale a destra */
}

/* Quando il blocco è visibile, fai comparire l'immagine da sinistra o da destra */
.card-container-image.visible-from-left {
    opacity: 1;
    transform: translateX(0); /* Viene alla posizione normale */
}

.card-container-image.visible-from-right {
    opacity: 1;
    transform: translateX(0); /* Viene alla posizione normale */
}

/* Animazione per il lato destro */
.card-container-image.right-side {
    transform: translateX(100%); /* Posizione iniziale a destra */
}

@media screen and (max-width: 1200px) {
    .game-title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 20px;
    }

    .panel {
        object-position: 35% center;
        /* Sposta verso destra ma mantiene la parte sinistra visibile */
    }

    .content .description {
        width: auto;
        margin-inline: 20px;
    }

    .card {
        margin: 20px;
    }

    .card .container .description {
        margin: 0px 0px;
        width: auto;
    }

    .card-container-1 {
        flex-direction: column;
        padding: 0px;
        gap: 20px;
    }

    .card-container-2 {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 20px;
    }

    .card-container-description {
        flex: 1;
        width: 90%;
        margin-inline: 5%;
        margin-bottom: 25px;
        text-align: center;
    }

    .card-container-image {
        flex: 1;
        width: 100%;
        text-align: center;
    }
}