@font-face {
    font-family: 'PrimaryFont';
    /* Nome del font */
    src: url('font/geoform/Geoform-Heavy.otf') format('truetype');
    /* Percorso assoluto */
    font-weight: normal;
    /* Peso del font */
    font-style: normal;
    /* Stile del font */
}

@font-face {
    font-family: 'Jura';
    /* Nome del font */
    src: url('font/geoform/Geoform-Light.otf') format('truetype');
    /* Percorso assoluto */
    font-weight: normal;
    /* Peso del font */
    font-style: normal;
    /* Stile del font */
}

:root {
    --primary-color: #926f34;
    --secondary-color: rgba(0, 0, 0);
    --text-color: #ffffff;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --tertiary-color: #202024;
    --font-family: 'Jura', sans-serif;
    /* Definisci la variabile font */
}

body {
    margin: 0;
    font-family: var(--font-family);
    /* Applica il font Jura */
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.content {
    position: relative;
    background-color: var(--overlay-color);
    width: 100%;
    text-align: center;
}

.content .description {
    width: 800px;
    margin: auto;
}

.game-title {
    font-family: 'PrimaryFont', sans-serif;
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 0px;
    color: white;
}

.subtitle {
    font-family: 'PrimaryFont', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgb(255, 0, 0);
}

.container {
    display: inline-grid;
    width: 100%;
    background: linear-gradient(to top, black 90%, transparent 100%);
}

.background-slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.background-image.visible {
    opacity: 1;
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cta-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 300px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.button {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 16px;
    border: none;
    padding: 2px;
    background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
    position: relative;
    transition: background 0.4s ease;
}

.button:hover {
    background: radial-gradient(circle 150px at 80% -10%, #ffffff, #181b1b);
}

.button::after {
    content: '';
    position: absolute;
    width: 65%;
    height: 60%;
    border-radius: 120px;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px #ffffff38;
    z-index: -1;
}

.blob1 {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 16px;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle 60px at 0% 100%, #3fe9ff, #0000ff80, transparent);
    box-shadow: -10px 10px 30px #0051ff2d;
}

.button .inner {
    display: flex;
    padding: 5px;
    border-radius: 14px;
    color: #fff;
    position: relative;
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
    justify-content: center;
    align-items: center;
}

.button .inner::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 14px;
    background: radial-gradient(circle 60px at 0% 100%, #00e1ff1a, #0000ff11, transparent);
    position: absolute;
}

.button .inner img {
    height: 30px;
    padding-right: 10px;
}

.info-section {
    border-radius: 8px;
    width: 400px;
    margin: 0px auto;
}

.info-value {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: right;
}

.info-value img {
    height: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #333333;
}

.info-item:last-child {
    border-bottom: none;
}

.info-label {
    font-size: 1rem;
    font-weight: 400;
    color: #777;
}

.card-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
    margin: auto;
}

.card-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
    margin: auto;
}

.card-container-description {
    flex: 1;
    width: 30%;
    margin-inline: 10%;
    text-align: left;
}

.card-container-description .title {
    font-family: 'PrimaryFont', sans-serif;
    font-size: 70px;
    font-weight: 900;
    margin: 0px;
}

.card-container-image {
    flex: 1;
    width: 50%;
    text-align: right;
}

body.popup-active {
    overflow: hidden;
}

.popup-view {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000de;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup {
    position: relative;
    margin: auto;
    width: 250px;
    height: auto;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
}

.popup-view.active {
    visibility: visible;
    opacity: 1;
}

.popup-heading {
    font-family: 'PrimaryFont';
    font-size: 1.5em;
    text-align: center;
    color: hsl(40, 18%, 97%, 1);
    font-weight: 700;
}

.popup-subheading {
    font-size: 0.8em;
    color: hsl(40, 18%, 97%, 1);
    text-align: center;
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email {
    width: auto;
    height: 30px;
    border: none;
    background-color: hsl(40, 18%, 97%, 1);
    padding: 0px 10px;
    outline: none;
    text-align: center;
}

#name {
    width: auto;
    height: 30px;
    border: none;
    background-color: hsl(40, 18%, 97%, 1);
    padding: 0px 10px;
    outline: none;
    text-align: center;
}

.submitButton {
    position: relative;
    width: auto;
    height: 30px;
    border: none;
    background-color: #1d1e20;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(36, 36, 36);
}

.exitBtn {
    position: absolute;
    background-color: transparent;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    border: none;
    color: hsl(40, 18%, 97%, 1);
    font-size: 1.5em;
    cursor: pointer;
}

/* Loaders */

.loader {
    position: relative;
    width: 200px;
    height: 60px;
    padding-bottom: 50px;
    margin: auto;
    z-index: 1;
  }
  
  .loader .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .loader .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .loader .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .loader .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .loader .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .loader .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }

/* Registration message */

.popup-message {
    position: relative;
    margin: auto;
    width: 250px;
    height: auto;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
}

.popup-message .title {
    font-family: 'PrimaryFont';
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
}

.popup-message .subtitle {
    font-family: 'Jura';
    font-size: 0.8em;
    color: hsl(40, 18%, 97%, 1);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    margin-top: 50px;
    color: #777;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    color: #71592a;
}

@media screen and (max-width: 1200px) {
    .game-title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 20px;
    }

    .panel {
        object-position: 35% center;
        /* Sposta verso destra ma mantiene la parte sinistra visibile */
    }

    .content .description {
        width: auto;
        margin-inline: 20px;
    }

    .card {
        margin: 20px;
    }

    .card .container .description {
        margin: 0px 0px;
        width: auto;
    }

    .info-section {
        border-radius: 8px;
        margin: 0px 50px;
        width: auto;
    }

    .card-container-1 {
        flex-direction: column;
        padding: 0px;
        gap: 20px;
    }

    .card-container-2 {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 20px;
    }

    .card-container-description {
        flex: 1;
        width: 90%;
        margin-inline: 5%;
        margin-bottom: 25px;
        text-align: center;
    }

    .card-container-description .title {
        font-size: 50px;
    }

    .card-container-image {
        flex: 1;
        width: 100%;
        text-align: center;
    }
}