@font-face {
    font-family: 'PrimaryFont';
    /* Nome del font */
    src: url('font/geoform/Geoform-Heavy.otf') format('truetype');
    /* Percorso assoluto */
    font-weight: normal;
    /* Peso del font */
    font-style: normal;
    /* Stile del font */
}

@font-face {
    font-family: 'Jura';
    /* Nome del font */
    src: url('font/geoform/Geoform-Light.otf') format('truetype');
    /* Percorso assoluto */
    font-weight: normal;
    /* Peso del font */
    font-style: normal;
    /* Stile del font */
}

:root {
    --primary-color: #ffffff; /* Blu principale */
    --secondary-color: #c3c3c3; /* Verde secondario */
    --accent-color: #ff1900; /* Colore di accento (Rosso) */
    --background-color: hsla(0 0% 7% / 1); /* Colore di sfondo chiaro */
    --background-dark: #0b0c0c;; /* Colore di sfondo scuro */
    --text-color: #333333; /* Colore del testo */
    --link-color: #2980b9; /* Colore dei link */
    --button-color: hsla(0 0% 7% / 1);
    --button-hover-color: hsla(0 0% 8% / 1);
    --border-color: #dcdcdc; /* Colore dei bordi */
    --highlight-color: #9b59b6; /* Colore di evidenza */
    --error-color: #e74c3c; /* Colore per errori */
    --success-color: #27ae60; /* Colore per successi */
    --warning-color: #f39c12; /* Colore per avvisi */
    --neutral-light: #ecf0f1; /* Colore neutro chiaro */
    --neutral-dark: #34495e; /* Colore neutro scuro */
    --overlay-color: rgba(0, 0, 0, 0.5); /* Overlay trasparente */
    --white: #ffffff; /* Bianco */
    --black: #000000; /* Nero */
    --font-family: 'Jura', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-dark);
    color: var(--text-color);
}

.button {
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    color: var(--primary-color);
  
    cursor: pointer;
    position: relative;
    align-items: center;
  
    padding: 1rem 2rem;
    background-color: transparent;
  
    border: none;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
  
    transition: transform var(--transtion);
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
  
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsla(0, 0%, 18%, 0.75);
  
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 31%, 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        var(--button-hover-color) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, var(--button-hover-color) 0px, transparent 50%),
      radial-gradient(at 22% 91%, var(--button-hover-color) 0px, transparent 50%);
    background-position: top;

    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .button:active {
    transform: scale(1);
  }
  
  .button .dots_border {
    --size_border: calc(100% + 2px);
  
    overflow: hidden;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
  
    border-radius: var(--border_radius);
    z-index: -10;
  }
  
  .button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
  
    width: 100%;
    height: 2rem;
    background-color: white;
  
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .button .sparkle {
    position: relative;
    z-index: 10;
  
    width: 1.75rem;
  }
  
  .button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
  
    transform-origin: center;
  
    color: hsl(0, 0%, 100%);
  }
  
  .button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }
  
  .button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
  }
  .button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
  .button .text_button {
    position: relative;
    z-index: 10;
  
    background-image: linear-gradient(
      90deg,
      hsla(0 0% 100% / 1) 0%,
      hsla(0 0% 100% / var(--active, 0)) 150%
    );
    background-clip: text;
    color: transparent;
  }

  .button .img_button {
    position: relative;
    width: 20px;
    z-index: 10;
  }

.container {
    display: inline-grid;
    width: 100%;
    background: linear-gradient(to top, black 90%, transparent 100%);
}

.background-slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.background-image.visible {
    opacity: 1;
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
    color: var(--primary-color);
    width: 100%;
    margin: auto;
}

.card-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
    color: var(--primary-color);
    width: 100%;
    margin: auto;
}

.card-container-description {
    flex: 1;
    width: 30%;
    margin-inline: 10%;
    text-align: left;
}

.card-container-description .title {
    font-family: 'PrimaryFont', sans-serif;
    font-size: 70px;
    font-weight: 900;
    margin: 0px;
}

.card-container-image {
    flex: 1;
    width: 50%;
    text-align: right;
}

body.popup-active {
    overflow: hidden;
}

.popup-view {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup {
    position: relative;
    margin: auto;
    width: 250px;
    height: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
}

.popup-view.active {
    visibility: visible;
    opacity: 1;
}

.popup-heading {
    font-family: 'PrimaryFont';
    font-size: 1.5em;
    text-align: center;
    color: hsl(40, 18%, 97%, 1);
    font-weight: 700;
}

.popup-subheading {
    font-size: 0.8em;
    color: hsl(40, 18%, 97%, 1);
    text-align: center;
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email {
    width: auto;
    height: 30px;
    border: none;
    background-color: hsl(40, 18%, 97%, 1);
    padding: 0px 10px;
    outline: none;
    text-align: center;
}

#name {
    width: auto;
    height: 30px;
    border: none;
    background-color: hsl(40, 18%, 97%, 1);
    padding: 0px 10px;
    outline: none;
    text-align: center;
}

.submitButton {
    position: relative;
    width: auto;
    height: 30px;
    border: none;
    background-color: #1d1e20;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(36, 36, 36);
}

.exitBtn {
    position: absolute;
    background-color: transparent;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    border: none;
    color: hsl(40, 18%, 97%, 1);
    font-size: 1.5em;
    cursor: pointer;
}

/* Loaders */

.loader {
    position: relative;
    width: 200px;
    height: 60px;
    padding-bottom: 50px;
    margin: auto;
    z-index: 1;
  }
  
  .loader .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .loader .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .loader .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .loader .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .loader .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .loader .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }

/* Registration message */

.popup-message {
    position: relative;
    margin: auto;
    width: 250px;
    height: auto;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
}

.popup-message .title {
    font-family: 'PrimaryFont';
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
}

.popup-message .subtitle {
    font-family: 'Jura';
    font-size: 0.8em;
    color: hsl(40, 18%, 97%, 1);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 1200px) {
    .game-title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 20px;
    }

    .panel {
        object-position: 35% center;
        /* Sposta verso destra ma mantiene la parte sinistra visibile */
    }

    .content .description {
        width: auto;
        margin-inline: 20px;
    }

    .card {
        margin: 20px;
    }

    .card .container .description {
        margin: 0px 0px;
        width: auto;
    }

    .card-container-1 {
        flex-direction: column;
        padding: 0px;
        gap: 20px;
    }

    .card-container-2 {
        flex-direction: column-reverse;
        padding: 0px;
        gap: 20px;
    }

    .card-container-description {
        flex: 1;
        width: 90%;
        margin-inline: 5%;
        margin-bottom: 25px;
        text-align: center;
    }

    .card-container-description .title {
        font-size: 50px;
    }

    .card-container-image {
        flex: 1;
        width: 100%;
        text-align: center;
    }
}