
  .info-section {
    padding-top: 0.5rem; /* py-12 in Tailwind */
    padding-bottom: 0.5rem;
    background-color: var(--background-color);
  }
  
  /* Contenitore specifico per la sezione */
  .info-section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; /* px-4 in Tailwind */
  }
  
  /* Flexbox per la disposizione degli elementi */
  .info-section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .info-section__item {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
  }
  
  /* Testo */
  .info-section__label {
    font-family: "BodyFont";
    font-size: 0.8rem;
    color: var(--primary-color);
  }
  
  .info-section__text {
    font-family: "BodyFont";
    font-size: 0.8rem;
    color: var(--secondary-color);
  }
  
  .info-section__platforms {
    display: block;
    gap: 0.7rem;
  }
  
  .info-section__platform-logo {
    width: 1rem;  /* w-6 */
    height: 1rem; /* h-6 */
  }