.hero-section {
    position: relative;
    background: url('/images/characters_image.jpg') no-repeat center center;
    background-size: cover; /* Copri l'intera area con l'immagine */
    color: white; /* Imposta il colore del testo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color); /* Usa la variabile overlay */
    z-index: 1; /* Assicurati che l'overlay sia sopra l'immagine ma sotto il contenuto */
}

.hero-section .game-title {
    font-family: 'PrimaryFont', sans-serif;
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 0px;
    color: var(--primary-color);
    z-index: 2;
}

.hero-section .subtitle {
    font-family: 'PrimaryFont', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--accent-color);
    z-index: 2;
}

.hero-section .description {
    color: var(--secondary-color);
    width: 800px;
    margin: auto;
     margin-bottom: 50px;
    z-index: 2;
}

.cta-group {
    display: block;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    z-index: 2;
}


@media screen and (max-width: 1200px) {
    .hero-section .game-title {
        font-size: 70px;
    }

    .hero-section .subtitle {
        font-size: 20px;
    }

    .panel {
        object-position: 35% center;
        /* Sposta verso destra ma mantiene la parte sinistra visibile */
    }

    .hero-section .description {
        width: auto;
        margin-inline: 20px;
    }
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #0f1111;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 6;
}

.button.small {
    font-size: 0.9rem;
    padding: 2px;
    border-radius: 14px;
    position: relative;
    background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
}

.button.small .inner {
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 12px;
    background: radial-gradient(circle 80px at 80% -50%, #555555, #0f1111);
}

.button.small img {
    height: 24px;
    padding-right: 8px;
}