---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
**ARES** è un videogioco multiplayer innovativo, progettato per offrire un'esperienza immersiva con una grafica realistica senza pari. Ambientato in un mondo futuristico, il gioco unisce strategia e azione, mettendo i giocatori uno contro l'altro in battaglie epiche online.

Con il supporto per macOS e Windows, ARES è il perfetto connubio di gameplay frenetico e ambientazioni mozzafiato, garantendo sessioni di gioco coinvolgenti per tutti i giocatori.
`;
---

<Layout title="ARES: L'Esperienza Multiplayer Definitiva">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Benvenuto in ARES</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8 text-center">
        <a href="https://linkprova" class="btn btn-lg btn-primary sm:btn-wide mr-4">Scarica per macOS</a>
        <a href="https://linkprova" class="btn btn-lg btn-secondary sm:btn-wide mr-4">Scarica per Windows</a>
        <a href="https://store.steampowered.com/" class="btn btn-lg btn-tertiary sm:btn-wide">Gioca su Steam</a>
    </p>
</Layout>
