<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARES - Official Website</title>
  <style>
    :root {
      --primary-color: #926F34;
      --secondary-color: rgba(0, 0, 0);
      --text-color: #FFFFFF;
      --overlay-color: rgba(0, 0, 0, 0.5);
      --tertiary-color: #202024;
    }

    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: var(--secondary-color);
      color: var(--text-color);
    }

    header {
      position: fixed;
      top: 0;
      width: 100%;
      height: 80px;
      background-color: var(--secondary-color);
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
    }

    header .logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--text-color);
    }

    header nav {
      display: flex;
      width: 300px;
      gap: 15px;
    }

    header nav a {
      color: var(--text-color);
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
    }

    header nav a:hover {
      color: var(--primary-color);
    }

    .container {
      display: block;
      padding: 20px;
      background-color: #111111;
      background-image: linear-gradient(
        32deg,
        rgba(8, 8, 8, 0.74) 30px,
        transparent
      );
      background-size: 60px 60px;
      background-position: -5px -5px;
    }

    .game-title {
      font-size: 100px;
      font-weight: 700;
      margin-top: 180px;
      margin-bottom: 0px;
      color: var(--text-color);
    }

    .subtitle {
      font-size: 50px;
      font-weight: 700;
      margin-top: 0px;
      margin-bottom: 100px;
      color: var(--primary-color);
    }

    footer {
      margin-top: 50px;
      background-color: var(--secondary-color);
      color: #777;
      text-align: center;
      padding: 10px 0;
      font-size: 0.9rem;
    }

    footer a {
      color: var(--primary-color);
      text-decoration: none;
    }

    footer a:hover {
      color: #71592a;
    }

    .background-slideshow {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
    }

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1s;
    }

    .background-image.visible {
      opacity: 1;
    }

    .content {
      position: absolute;
      z-index: 1;
      background-color: var(--overlay-color);
      width: 100%;
      text-align: center;
    }

    .cta-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
      width: 300px;
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
    }

    .button {
      cursor: pointer;
      font-size: 1rem;
      border-radius: 16px;
      border: none;
      padding: 2px;
      background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
      position: relative;
    }

    .button::after {
      content: "";
      position: absolute;
      width: 65%;
      height: 60%;
      border-radius: 120px;
      top: 0;
      right: 0;
      box-shadow: 0 0 20px #ffffff38;
      z-index: -1;
    }
    
    .blob1 {
      position: absolute;
      width: 70px;
      height: 100%;
      border-radius: 16px;
      bottom: 0;
      left: 0;
      background: radial-gradient(
        circle 60px at 0% 100%,
        #3fe9ff,
        #0000ff80,
        transparent
      );
      box-shadow: -10px 10px 30px #0051ff2d;
    }
    
    .button .inner {
      display: flex;
      padding: 14px 25px;
      border-radius: 14px;
      color: #fff;
      z-index: 3;
      position: relative;
      background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
      justify-content: center;
      align-items: center;
    }

    .button .inner::before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 14px;
      background: radial-gradient(
        circle 60px at 0% 100%,
        #00e1ff1a,
        #0000ff11,
        transparent
      );
      position: absolute;
    }

    .button .inner img {
      height: 30px;
      padding-right: 10px;
    }

    .game-description {
      display: flex;
      flex-direction: column;
      margin: 25px auto;
      width: 50%;
      border-radius: 10px;
      padding: 1px;
      background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
      position: relative;
    }
    
    .game-description .dot {
      width: 5px;
      aspect-ratio: 1;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 10px #ffffff;
      border-radius: 100px;
      z-index: 2;
      right: 10px;
      top: 10px;
      animation: moveDot 6s linear infinite;
    }
    
    @keyframes moveDot {
      0%,
      100% {
        top: 10px;
        right: 10px;
      }
      25% {
        top: 10px;
        right: calc(100% - 10px);
      }
      50% {
        top: calc(100% - 10px);
        right: calc(100% - 10px);
      }
      75% {
        top: calc(100% - 10px);
        right: 10px;
      }
    }
    
    .game-description .card {
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 9px;
      border: solid 1px #202222;
      background-size: 20px 20px;
      background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      color: #fff;
    }
    .game-description .card .ray {
      width: 220px;
      height: 45px;
      border-radius: 100px;
      position: absolute;
      background-color: #c7c7c7;
      opacity: 0.4;
      box-shadow: 0 0 50px #fff;
      filter: blur(10px);
      transform-origin: 10%;
      top: 0%;
      left: 0;
      transform: rotate(40deg);
    }
    
    .card .container {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      padding: 30px;
      background: linear-gradient(45deg, #c7c7c773 4%, #fff, #000);
      background-clip: text;
      color: transparent;
    }

    .card .container .description {
      text-align: left;
      margin: 25px 55px;
      width: 40%;
    }
    
    .game-description .card .line {
      position: absolute;
      background-color: #2c2c2c;
      z-index: 1;
    }

    .line.topl {
      top: 10px;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
    }

    .line.bottoml {
      bottom: 10px;
      left: 0;
      right: 0;
      height: 1px;
    }

    .line.leftl {
      top: 0;
      bottom: 0;
      left: 10px;
      width: 1px;
      background: linear-gradient(180deg, #747474 30%, #222424 70%);
    }

    .line.rightl {
      top: 0;
      bottom: 0;
      right: 10px;
      width: 1px;
    }  

    .info-section {
      border-radius: 8px;
      width: 40%;
      margin: 25px 55px;
    }

    .info-value {
      font-size: 1rem;
      font-weight: 400;
      color: #FFFFFF;
      text-align: right;
    }

    .info-value img {
      height: 20px;
    }

    .info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #333333;
    }

    .info-item:last-child {
      border-bottom: none;
    }

    .info-label {
      font-size: 1rem;
      font-weight: 400;
      color: #777;
    }

    .features {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 50px 20px;
      text-align: center;
    }

    .features .feature {
      position: relative;
      width: 12rem; /* 48px in rem */
      height: 16rem; /* 64px in rem */
      overflow: hidden;
      border-radius: 1rem; /* per un effetto arrotondato */
      background-color: #3d3c3d;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    }
  
    .features .feature .inner {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      z-index: 1;
      opacity: 0.9;
      border-radius: 1rem;
      inset: 0.125rem; /* equivalente di 0.5px */
      background-color: #323132;
    }
  
    .features .feature .blur-effect {
      position: absolute;
      width: 14rem; /* 56px in rem */
      height: 12rem; /* 48px in rem */
      background-color: white;
      filter: blur(50px);
      left: -50%; /* centrato orizzontalmente con offset */
      top: -50%; /* centrato verticalmente con offset */
    }

    .features .feature:hover {
      transform: translateY(-10px);
    }

    @media screen and (max-width: 768px) {
      .game-title {
        font-size: 50px;
      }
  
      .subtitle {
        font-size: 25px;
      }

      .game-description {
        width: 90%;
      }
          
      .card .container .description {
        margin: 0px 25px;
        width: auto;
      }

      .info-section {
        border-radius: 8px;
        margin: 0px 25px;
        width: auto;
      }

      .card .container {
        flex-direction: column;
        gap: 20px;
      }
      
      .features {
        flex-direction: column;
        gap: 20px;
      }
    }
  </style>
</head>
<body>
  <header>
    <div class="logo">ARES</div>
    <nav>
      <a href="#features">Features</a>
      <a href="#info">Info</a>
      <a href="#downloads">Download</a>
    </nav>
  </header>

  <div class="background-slideshow">
    <img class="background-image" src="images/ares_screenshot1.png" alt="Background 1">
    <img class="background-image" src="images/ares_screenshot2.png" alt="Background 2">
    <img class="background-image" src="images/ares_screenshot3.png" alt="Background 3">
    <img class="background-image" src="images/ares_screenshot4.png" alt="Background 4">
  </div>

  <div class="content">
    <h1 class="game-title">ARES</h1>
    <h1 class="subtitle">COMING SOON IN 2025</h1>

    <div class="cta-group">
      <button onclick="window.location.href='https://drive.google.com/uc?export=download&id=macOS-file-id'" class="button">
        <div class="blob1"></div>
        <div class="blob2"></div>
        <div class="inner">
          <img src="images/apple_logo.png" alt="Apple Logo"> Download for MacOS
        </div>
      </button>

      <button onclick="window.location.href='https://drive.google.com/uc?export=download&id=macOS-file-id'" class="button">
        <div class="blob1"></div>
        <div class="blob2"></div>
        <div class="inner">
          <img src="images/win11_logo.png" alt="Windows Logo"> Download for Windows
        </div>
      </button>

      <button onclick="window.location.href='https://drive.google.com/uc?export=download&id=macOS-file-id'" class="button">
        <div class="blob1"></div>
        <div class="blob2"></div>
        <div class="inner">
          <img src="images/steam_logo.png" alt="Steam Logo"> Get it on Steam
        </div>
      </button>
    </div>

    <div class="container">

      <div class="game-description">
        <div class="dot"></div>
        <div class="card">
          <div class="ray"></div>
            <div class="container">
              <div class="description">
                Step into the world of <strong>ARES</strong>, the ultimate <strong>multiplayer</strong> experience! Challenge your friends or team up with them in epic battles featuring thrilling game modes like:
                <ul>
                  <li><strong>• Deathmatch</strong></li>
                  <li><strong>• Domain</strong></li>
                  <li><strong>• Survival</strong></li>
                </ul>
                <p>
                  Explore breathtaking <strong>realistic graphics</strong> and immerse yourself in an action-packed journey. Customize your <strong>weapons</strong> to match your unique playstyle and get ready to dominate the battlefield.
                </p>
                <p>The fun begins now!</p>
              </div>

              <div class="info-section">
                <div class="info-item">
                  <span class="info-label">Developer</span>
                  <span class="info-value">Cristiano Rotunno</span>
                </div>
                <div class="info-item">
                  <span class="info-label">Distributor</span>
                  <span class="info-value">ARES Studio</span>
                </div>
                <div class="info-item">
                  <span class="info-label">Release Date</span>
                  <span class="info-value">2025</span>
                </div>
                <div class="info-item">
                  <span class="info-label">Platforms</span>
                  <span class="info-value">
                    <img src="images/win11_logo.png" alt="Windows">
                    <img src="images/apple_logo.png" alt="MacOS">
                  </span>
                </div>
              </div>
            </div>
          <div class="line topl"></div>
          <div class="line leftl"></div>
          <div class="line bottoml"></div>
          <div class="line rightl"></div>
        </div>
      </div>
  
      <section class="features">
        <div class="feature">
          <div class="inner">Realistic Graphics</div>
          <div class="blur-effect"></div>
        </div>

        <div class="feature">
          <div class="inner">Dynamic Multiplayer</div>
          <div class="blur-effect"></div>
        </div>

        <div class="feature">
          <div class="inner">Total Customization</div>
          <div class="blur-effect"></div>
        </div>
      </section>

      <footer>
        <p>© 2025 ARES. All rights reserved. <a href="#privacy">Privacy Policy</a></p>
      </footer>
    </div>
  </div>

  <script>
    const images = document.querySelectorAll('.background-image');
    let currentIndex = 0;

    function changeBackground() {
      images[currentIndex].classList.remove('visible');
      currentIndex = (currentIndex + 1) % images.length;
      images[currentIndex].classList.add('visible');
    }

    setInterval(changeBackground, 5000);
  </script>
</body>
</html>
